{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Add Post{% endblock %}

{% block app_content %}
<h1>Edit Post</h1>

<!--
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
-->

<form action="{{ url_for('edit_post',id=post.id) }}"  method="post">
    {{ form.csrf_token }}
    <p>{{ form.post.label }}</p>
    {% for error in form.post.errors %}
        <div style="color:red">[ {{ error }} ]</div>
    {% endfor %}
    {% set f = form.post.process_data(post.body) %}
    <p>{{ form.post() }}</p>
    <p>{{ form.submit() }}</p>
</form>

{% if current_user.is_admin() %}
    {{ ckeditor.load() }}
{% else %}
    {{ ckeditor.load(pkg_type="basic") }}
{% endif %}
{{ ckeditor.config(name='post') }}

{% endblock %}
