{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block app_content %}
    <h1>Welcome to my blog</h1>
    {% if current_user.is_authenticated %}
        <h2>Hi {{ current_user.username }}!</h2>
    {% endif %}
    {% for post in posts.items %}
        {% include '_post.html' %}
    {% endfor %}

    {% if posts.pages > 1 %}
        <nav aria-label="...">
          <ul class="pagination">
            {% if posts.has_prev %}
            <li class="page-item">
                <span class="page-link"><a href="{{ url_for('index', page=posts.prev_num) }}">Previous</a></span>
            </li>
            {% endif %}

            {% for page_num in posts.iter_pages(left_edge=1, left_current=3, right_current=3, right_edge=1) %}
                {% if page_num %}
                    {% if page_num != posts.page %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ page_num }}</span>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if posts.has_next %}
            <li class="page-item">
                <span class="page-link"><a href="{{ url_for('index', page=posts.next_num) }}">Next</a></span>
            </li>
            {% endif %}
          </ul>
        </nav>
    {% endif %}
{% endblock %}
