{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Login{% endblock %}

{% block app_content %}
<h1>Login</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<!--novalidate means dont validate in browser, validate on server
<form action="{{ url_for('login') }}" method="post" novalidate>
    {{ form.csrf_token }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
-->
<hr/>
<p>
<a href="{{ url_for('forgot_password') }}">Forgot Password</a> |
<a href="{{ url_for('register') }}">Register</a>
</p>
{% endblock %}
